*{
    font-family: 'Inter', sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(to bottom, #041b57, #4b235b);
}
.container{
    width: 100vh;
    padding:5%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.title{
    text-align: center;
    margin-top: 10%;
}

.search-bar{
    width: 100%;
    max-width: 90%;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
}

.search-bar button img{
    width: 25px;
}

.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    justify-content: center;
}

.overall-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
